<form [formGroup]="confUnloadForm" autocomplete="off">
  <div fxLayout="column" fxLayoutGap="30px" fxFlexAlign="center">
    <mat-toolbar>
      <span>
        Actual unloaded products from
        {{ confUnloadForm.value.container_number }}
      </span>
    </mat-toolbar>

    <h4>
      <mat-icon style="vertical-align: middle">ballot</mat-icon>Remaining
    </h4>
    <div>
      <div style="margin-left: 30px" *ngFor="let item of confUnloadForm.value.skus; let i = index">
        <li>
          {{ item.skuCode }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;QTY :
          {{ item.qty }}
        </li>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start start">
      <section class="example-section">
        <mat-checkbox formControlName="partial_unload" [checked]="partial">Partial Unload
        </mat-checkbox>
      </section>
      <br />
    </div>


    <mat-form-field appearance="legacy">
      <mat-label>Chief unload officer</mat-label>
      <mat-select formControlName="chiefUnload">
        <mat-option value="Daniel"> Daniel </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</form>

<!-- ------------------------------------------------ -->

<form [formGroup]="Unload_amount" autocomplete="off">

  <br>

  <div formArrayName="last_unload">
    <div fxLayout="row" fxLayoutGap="30px" style="width: 5auto;" fxFlexAlign="center">
      <div *ngFor="let item of Unload_amountform.controls; let i = index" [formGroupName]="i">
        <mat-form-field appearance="fill" style="width: 100%;">
          <span class="preandsub-fix" matPrefix>{{ confUnloadForm.value.remaining[i].skuCode
            }}&nbsp;</span>
          <input matInput type="number" max="{{ confUnloadForm.value.remaining[i].qty }}" min="0"
            formControlName="unload_qty" />
          <span matSuffix>{{ confUnloadForm.value.remaining[i].unit }}</span>
        </mat-form-field>
        <br>
        <mat-divider></mat-divider>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label class="damagedText">Damaged</mat-label>
          <input matInput type="number" max="{{ confUnloadForm.value.remaining[i].qty }}" min="0"
            formControlName="damaged" />
          <span matSuffix>{{ confUnloadForm.value.remaining[i].unit }}</span>
        </mat-form-field>
      </div>
    </div>
  </div>

</form>

<br />

<div *ngIf="confUnloadForm.valid">
  <div *ngIf="loading == true">
    <mat-spinner></mat-spinner>
  </div>
  <button (matDialogClose)="(loading == false && confUnloadForm.value.skus[0] != '')" mat-raised-button color="primary"
    (click)="confirmunload()">
    Submit
  </button>
  <span style="margin: 8px 8px 8px 0"></span>
</div>
<br>
<button matDialogClose mat-raised-button color="warn">
  cancel
</button>
{{ confUnloadForm.value | json }}
