
<mat-card class="mat-elevation-z0">
<mat-tab-group style="height: 800px;">

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">view_sidebar</mat-icon>
      Ex-Warehouse
    </ng-template>
<app-exwhcont></app-exwhcont>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">check_circle</mat-icon>
      Ready to unload
    </ng-template>
    Content 1
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">view_compact</mat-icon>
      Unloading
    </ng-template>

    Content 3
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">video_label</mat-icon>
      Empty containers
    </ng-template>
    Content 2
  </mat-tab>

</mat-tab-group>
</mat-card>
